@use '../../styles/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em $base-side-padding;
  z-index: 2;
}

.brand {
  font-family: 'Caveat Brush', cursive;
  color: $main-color;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  gap: 0.2em;

  & svg {
    filter: drop-shadow(1px 1px 0 white);
    color: rgb(170, 100, 50);
  }

  & span {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
  }
}
