@use '../../common/scss/variables' as *;

.header {
  text-align: right;
}

.closeBtn {
  background: none;
  color: $main-color;
  font-size: 3rem;
}

.title {
  text-align: center;
  color: $main-color;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}
