@use '../../styles/variables' as *;

.search-bar {
  background: white;
  padding: 1em 1.5em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-btn {
  background: $dark-main-color;
  color: white;
  font-size: 2rem;
  padding: 0.4em 0.5em;
  border-radius: 50%;
}
