@use '../../common/scss/variables' as *;

.search-bar {
  background: white;
  padding: 1em 1.5em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-bar__column {
  & input {
    text-align: center;
    color: $gray;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
  }

  & + .search-bar__column {
    border-left: 2px solid $light-gray;
    padding-left: 1em;
  }
}

.search-bar__header {
  color: $dark-main-color;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-bottom: 2px solid $light-gray;
  border-bottom-width: 50%;
  padding-bottom: 0.5em;
  margin-bottom: 0.75em;

  & svg {
    font-size: 2.4rem;
  }
}

.search-btn {
  background: $dark-main-color;
  color: white;
  font-size: 2rem;
  padding: 0.4em 0.5em;
  border-radius: 50%;
}
