/* color */
$main-color: #776dbe;
$sub-color: rgb(190, 175, 240);
$black: #101010;
$gray: rgb(120, 120, 120);
$light-gray: rgb(210, 210, 210);
$pink: #de59c6;

/* size */
$base-side-padding: 2.5em;

// Mobile
